#NOTA: TODOS LOS PROBLEMAS SE DESARROLLARON EN PYCHARM.

#PROBLEMA_0#
# Cree una tupla con las vocales en mayuscula y minuscula, luego una variable que almacene una frase larga que contenga mayusculas y minusculas.
# Utilice los conocimientos adquiridos para indicar: el tamaño total de la frase, cuantas letras "a" y "u" existen en la frase
# recorrer la frase letra a letra indicando por pantalla si la letra es o no es vocal


las_vocales = ["A", "E", "I", "O", "U", "a", "e", "i", "o", "u"]
frase_larga = "If You Want To Overcome The World, Overcome YourSelf"

print(len(frase_larga))

print(frase_larga.count("a"))

print(frase_larga.count("u"))


contador = 0
for i in frase_larga:
    if i in las_vocales:
        print("Es una vocal")
    else:
        print("No es una vocal")

    contador+=1
    


#PROBLEMA_1#

#Realiza un programa que lea dos números por teclado y permita elegir entre 3 opciones en un menú:
#●	Mostrar una suma de los dos números (1)
#●	Mostrar una resta de los dos números (el primero menos el segundo) (2)
#●	Mostrar una multiplicación de los dos números (3)
#●	Mostrar una division de los dos numeros (el primero entre el segundo, si el 2do es 0 alertar q no es correcta)
#En caso de introducir una opción inválida, el programa informará de que no es correcta.


x = float(input("Por favor, introducir primer numero: "))
operador = input("Inserte que operación desea realizar: ")
y = float(input("por favor, introducir segundo número: "))



if operador == "+":
    print(x + y)

elif operador == "-":
    print(x - y)

elif operador == "*":
    print( x * y)

elif operador == "/":
    if y != 0:
        print (x / y)
    else:
        print ("No es correcto, inténtelo nuevamente")


else:
    "Opción Invalida. Intente Nuevamente"

print("Gracias por utilizar este servicio :)")







